@use "../../layout/variables" as *;
@use "../../layout/mixin/mixins" as *;

.navgation_bar {
    background-color: $white-text;
    position: fixed;
    width: 100%;
    z-index: 9999;
    border-bottom: 1px solid $main-color;

    > #container {
        width: 80%;
        margin: auto !important;
    }

    & .nav_header {
        & .brand_title {
            color: $main-color;
            text-transform: $text-uppercase;
            font-weight: bold;
        }
        & button {
            border: 1px solid $black-text;
            background-color: $main-color;
            @include flex-center;
            
            .login{
                color: $white-text;
                text-transform: $text-capitalize;
                @include flex-center;
                text-decoration: none;
                background-color: $main-color;
                border-radius: 2px;
                font-size: 12px;
                padding: 2px 4px;
                position: relative;
                cursor: pointer !important;
            }
        }
    }
    & .links_and_controls{
        > .links {
            > li {
                > .nav-link {
                    color: $black-text !important;
                    text-transform: $text-capitalize;
                }
            }
        }
        & .controls {
            > .add_to_cart {
                cursor: pointer;
            }
            .cart_icon_title, .wishlist {
                font-size: 22px;
                color: $main-color;
                font-weight: bold;
            }
        }
    }
}