.navgation-bar {
    .brand-name{
        color: teal;
        text-transform: uppercase;
    }
    .nav-link{
        text-transform: capitalize;
    }
    .login{
        color: #ffffff;
        text-transform: capitalize;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: 1px solid teal;
        background-color: teal;
        border-radius: 2px;
        font-size: 16px;
        padding: 2px 4px;
        position: relative;
        cursor: pointer;
    }
    .allCategoris {
        position: relative;
    }
    #category {
        display: none;
        position: absolute;
        top: 30px;
        left: 0%;
        background-color: rgb(255, 255, 255);
        padding: 4px 8px;
        width: 400px;
        font-size: 20px;
        padding-top: 20px;
        border-radius: 4px;

        .categoryLink{
            text-decoration: none;
            color: #000000;
            background-color: #00000030;
            border-radius: 8px;
            padding: 0px 4px;
        }
    }
    .allCategoris#active #category {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}