.pgae_not_found {
    height: calc(100vh - 50px);
    background-color: #eee;
    .header_page{
        font-size: 80px;
        color: red;
        text-transform: uppercase;
        margin-bottom: 50px !important;
        font-weight: bolder;
    }
    .description_page{
        font-size: 40px;
        font-weight: 400;
        position: relative;
        text-transform: capitalize;
    }
    .description_page::after{
        content: '"';
        position: absolute;
        right: -20px;
    }
    .description_page::before{
        content: '"';
        position: absolute;
        left: -20px;
    }
}