@use "../layout/mixin/mixins" as *;
@use "../layout/variables" as *;
.aboutUs {
  @include width-center(80%);
  padding-top: 110px !important;
  .headerInfo {

    > h5 {
      font-size: 30px;
      color: $main-color;
    }
    & p {
      width: 1000px;
      font-size: 22px;
    }
  }
  .boxes_more_information {
    width: 100%;
    .box {
      background-color: $threeE-color;
      width: 50%;
      & h2 {
        font-size: 30px;
      }
      & p {
        width: 80%;
        color: #777;
      }
      & button {
        border: 1px solid #777;
        color: $main-color;
        padding: 3px 10px !important;
        font-size: 22px;
        border-radius: 4px;
      }
    }
  }
}