/// flex centering elements
@mixin flex-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
/// grid centering elements
@mixin grid-center {
    display: grid !important;
    justify-content: center !important;
    align-items: center !important;
}


/// directions
/// direction column
@mixin direction-column {
    display: flex !important;
    flex-direction: column !important;
}

//* width centering */
@mixin width-center($widht) {
    width: $widht;
    margin: auto !important;
}

@mixin qutations($position) {
    content: '"';
    position: absolute;
    #{$position}: -20px;
}


//* media query */
@mixin devices($point) {
    @if $point == mobile {
        @media(max-width: 767px) {
            @content;
        }
    } @else if $point == small {
        @media(max-width: 768px ) and (min-width: 991px) {
            @content;
        }
    } @else if $point == medium {
        @media(min-width: 992px ) and (max-width: 1199px) {
            @content;
        }
    } @else if $point == large {
        @media(max-width: 1200px) {
            @content;
        }
    }
}