* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
}
p {
    margin: 0 !important;
    padding: 0 !important;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 !important;
    padding: 0 !important;
}

ul, li {
    list-style: none !important;
}

input {
    border: none !important;
    outline: none !important;
}

body{
    height: 300vh !important;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb {
    background:teal;
}