* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
}
p {
    margin: 0 !important;
    padding: 0 !important;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 !important;
    padding: 0 !important;
}
ul, li {
    list-style: none !important;
}
input {
    border: none !important;
    outline: none !important;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb {
    background:teal;
}
/* start feed_back section */
.feedbackLink {
    background-color: teal;
    width: fit-content;
    margin: auto;
    padding: 6px !important;
    transform: rotate(-90deg);
    position: fixed;
    right: -40px;
    top: 250px;
    color: white;
}
/* end feed_back section */