.btn_style {
    position: fixed;
    right: 20px;
    bottom: 80px;
}
.btn_top {
    padding: 8px !important;
    background-color: teal;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #000;
    border-radius: 8px
};